In [15]:
import pandas as pd
import numpy as np
movies_df=pd.read_csv('movies.csv')
ratings_df=pd.read_csv('ratings.csv')

movies_df['year']=movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['title']=movies_df.title.str.replace('(\(\d\d\d\d\))','')

movies_df=movies_df.drop('genres',1)
movies_df.head()

C:\Users\RAJESH\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys
C:\Users\RAJESH\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  if __name__ == '__main__':

   movieId                         title    year
0        1                    Toy Story   (1995)
1        2                      Jumanji   (1995)
2        3             Grumpier Old Men   (1995)
3        4            Waiting to Exhale   (1995)
4        5  Father of the Bride Part II   (1995)

In [2]:
ratings_df=ratings_df.drop('timestamp',1)
ratings_df.head()

C:\Users\RAJESH\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [54]:
userInput = [
    {"title":"Cloverfield Lane"},
    {"title":"Dalmatians"},{"title":"Toy Story"}
  ]
# inputId = movies_df["year"].isin(["(1995)"])
# movies_df[inputId]
inputMovies=pd.DataFrame(userInput)
print(inputMovies.shape)
#inputId=movies_df['title'].isin(inputMovies['title'])
movies = movies_df['year'].isin(["(1995)"])
print(movies.shape)
print(movies)
print("asd")
movies_df[movies]


#inputMovies=pd.merge(inputId, inputMovies)
#inputMovie.head()
# print(inputMovies.shape)

(3, 1)
(9742,)
0        True
1        True
2        True
3        True
4        True
        ...
9737    False
9738    False
9739    False
9740    False
9741    False
Name: year, Length: 9742, dtype: bool
asd

      movieId                                              title    year
0           1                                         Toy Story   (1995)
1           2                                           Jumanji   (1995)
2           3                                  Grumpier Old Men   (1995)
3           4                                 Waiting to Exhale   (1995)
4           5                       Father of the Bride Part II   (1995)
...       ...                                                ...     ...
8066    99130                                     Ice Cream Man   (1995)
8836   132084                                      Let It Be Me   (1995)
8931   136297                 Mortal Kombat: The Journey Begins   (1995)
9453   167772                           The Spirit of Christmas   (1995)
9663   181719  Serving in Silence: The Margarethe Cammermeyer...  (1995)

[259 rows x 3 columns]

In [32]:
userSubset= ratings_df[ratings_df['movieId'].isin(inputMovie['movieId'].tolist())]
userSubset
# print(userSubset.shape)

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [ ]:
userSubsetGroup = userSubset.groupby(['userId']).aggregate(np.sum)
userSubsetGroup

In [24]:
pearsonCorrelationDict={}
for name,group in pearsonCorrelationDict.items():
    group=group.sort_values(by="movieId")
    inputMovies = inputMovies.sort_values(by="movieId")
    nRatings=len(group)
    temp_df=inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    tempRatingList=temp_df['rating'].tolist()
    tempGroupList = group['rating'].tolist()
    from scipy.stats import pearsonr
    pearsonr(tempRatingList,tempGroupList)[0]
#     tempRatingList=tempGroupList.corr(method='pearson')
pearsonCorrelationDict.items()

dict_items([])