In [1]:
import pandas as pd
from scipy import sparse

In [2]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.merge(movies,ratings).drop(['genres','timestamp'],axis=1)
print(ratings.shape)
# ratings['title'].unique().shape

(100836, 4)

In [3]:
userRatings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
userRatings.head()
print("Before: ",userRatings.shape)
userRatings = userRatings.dropna(thresh=10, axis=1).fillna(0,axis=1)
#userRatings.fillna(0, inplace=True)
print("After: ",userRatings.shape)

Before:  (610, 9719)
After:  (610, 2269)

In [13]:
corrMatrix = userRatings.corr(method='pearson')
corrMatrix.head(100)
print(corrMatrix.columns)

# print(corrMatrix['title'].head())
# print(corrMatrix['Index'].head())
if 'Up in the Air' in corrMatrix.columns:
    print("True")
else:
    print("False")

Index([''burbs, The (1989)', '(500) Days of Summer (2009)',
       '10 Cloverfield Lane (2016)', '10 Things I Hate About You (1999)',
       '10,000 BC (2008)', '101 Dalmatians (1996)',
       '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
       '12 Angry Men (1957)', '12 Years a Slave (2013)', '127 Hours (2010)',
       ...
       'Zack and Miri Make a Porno (2008)', 'Zero Dark Thirty (2012)',
       'Zero Effect (1998)', 'Zodiac (2007)', 'Zombieland (2009)',
       'Zoolander (2001)', 'Zootopia (2016)', 'eXistenZ (1999)', 'xXx (2002)',
       '¡Three Amigos! (1986)'],
      dtype='object', name='title', length=2269)
False

In [5]:
def get_similar(movie_name,rating):
    similar_ratings = corrMatrix[movie_name]*(rating-2.5)
    similar_ratings = similar_ratings.sort_values(ascending=False)
    return similar_ratings

In [15]:
romantic_lover = [("(500) Days of Summer (2009)",5)]
similar_movies = pd.DataFrame()
for movie,rating in romantic_lover:
    similar_movies = similar_movies.append(get_similar(movie,rating),ignore_index = True)

similar_movies.head(10)

,(500) Days of Summer (2009),Silver Linings Playbook (2012),Adventureland (2009),Up in the Air (2009),50/50 (2011),"Descendants, The (2011)","Crazy, Stupid, Love. (2011)",About Time (2013),Toy Story 3 (2010),"Secret Life of Walter Mitty, The (2013)",...,"Remains of the Day, The (1993)",Leaving Las Vegas (1995),"Grifters, The (1990)","English Patient, The (1996)",Dances with Wolves (1990),Stargate (1994),"Madness of King George, The (1994)",Disclosure (1994),"Postman, The (Postino, Il) (1994)",Clear and Present Danger (1994)
0,2.5,1.254898,1.157021,1.129961,1.12389,1.082774,1.076731,1.050643,1.050386,1.043048,...,-0.127058,-0.131261,-0.134995,-0.135628,-0.142231,-0.14287,-0.144495,-0.160575,-0.161373,-0.20981

In [7]:
similar_movies.sum().sort_values(ascending=False).head(20)

(500) Days of Summer (2009)                      2.584556
Alice in Wonderland (2010)                       1.395229
Silver Linings Playbook (2012)                   1.254800
Yes Man (2008)                                   1.116264
Adventureland (2009)                             1.112235
Marley & Me (2008)                               1.108381
About Time (2013)                                1.102192
Crazy, Stupid, Love. (2011)                      1.088757
50/50 (2011)                                     1.086517
Help, The (2011)                                 1.075963
Up in the Air (2009)                             1.053037
Holiday, The (2006)                              1.034470
Friends with Benefits (2011)                     1.030875
Notebook, The (2004)                             1.025880
Easy A (2010)                                    1.015771
Secret Life of Walter Mitty, The (2013)          0.997979
Perks of Being a Wallflower, The (2012)          0.967425
Toy Story 3 (2010)                               0.963276
Ugly Truth, The (2009)                           0.959079
Harry Potter and the Half-Blood Prince (2009)    0.954180
dtype: float64

In [17]:
action_lover = [("Amazing Spider-Man, The (2012)",5)]
similar_movies = pd.DataFrame()
for movie,rating in action_lover:
    similar_movies = similar_movies.append(get_similar(movie,rating),ignore_index = True)

similar_movies.head(10)
print(similar_movies.sum().sort_values(ascending=False).head(20))
def ckecking():
    if "Amazing Spider-Man, The (2012)" in corrMatrix:
        print("True")
    else:
        print("False")
ckecking()

Amazing Spider-Man, The (2012)                        2.500000
Captain America: The First Avenger (2011)             1.370454
Thor (2011)                                           1.324846
Wreck-It Ralph (2012)                                 1.302965
Star Trek Into Darkness (2013)                        1.301220
The Hunger Games: Mockingjay - Part 1 (2014)          1.298310
The Amazing Spider-Man 2 (2014)                       1.297114
X-Men: First Class (2011)                             1.284405
Tron: Legacy (2010)                                   1.268557
Thor: The Dark World (2013)                           1.250917
Doctor Strange (2016)                                 1.246629
Monsters University (2013)                            1.236494
Iron Man 2 (2010)                                     1.232572
Pirates of the Caribbean: On Stranger Tides (2011)    1.227395
Green Lantern (2011)                                  1.224993
X-Men: Days of Future Past (2014)                     1.190486
Men in Black III (M.III.B.) (M.I.B.³) (2012)          1.175398
Despicable Me (2010)                                  1.168861
Guardians of the Galaxy (2014)                        1.164433
Kung Fu Panda 2 (2011)                                1.156715
dtype: float64
True